<%= simple_form_for(project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :users, collection: User.all, :include_blank => false, :label_method => lambda { |user| user.name } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>
