<!DOCTYPE html>
<html>
  <head>
    <title>ProjectCom</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.css" media="screen" title="no title">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.js"></script>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="//db.onlinewebfonts.com/c/fdc47c005fa3a0487c2785345ba1fe05?family=BillabongItalicW00-Regular" rel="stylesheet" type="text/css"/>
  </head>

  <nav>
    <div class="nav-wrapper">
      <%= link_to "ProjectCom", root_path, class: "brand-logo" %>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
        <% else %>
          <li>
          <%= link_to('Login', new_user_session_path)  %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>


  <body>
    <div class="article">
      <%= yield %>
    </div>
  </body>
</html>
